<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <title>MoneyMap - Sign Out</title>
    {% load static %}
</head>
{% if messages %}
<div id="messages-container" class="fixed z-50 flex flex-col w-3/4 max-w-96 top-10 right-10 space-y-4">
    {% for message in messages %}
    <div class="w-full bg-white p-4 rounded-lg shadow-lg flex items-start space-x-4 relative">
        <div class="w-full">
            <p class="text-base font-semibold font-['Poppins']
                {% if message.tags == 'error' %} text-red-500 {% else %} text-[#05a99d] {% endif %} capitalize">
                {{ message.tags|capfirst }}
            </p>
            <p class="text-zinc-400 text-base font-normal font-['Poppins'] leading-5 break-all max-h-10 overflow-hidden">
                {{ message }}
            </p>
        </div>
        <!-- Close Button -->
        <button class="absolute top-2 right-2 text-gray-500 hover:text-gray-800 focus:outline-none" onclick="this.parentElement.style.display='none'">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}
<body class="h-full w-full m-0 p-0">
    <div class="flex h-screen w-screen overflow-hidden">
        <!-- Left section (Menu and account info) -->
        <div class="flex flex-col justify-center items-start w-full lg:w-1/2 p-10 ml-10 mr-10">
            <div class="w-full flex flex-col items-start gap-10">
                <h1 class="text-[#1b283f] text-6xl font-semibold font-['Poppins']">Sign Out</h1>

                <!-- Signed In Message -->
                <div class="w-full">
                    <p class="text-[#1b283f] text-2xl font-normal font-['Poppins']">Now you are signed in as <strong>{{ user.username }}</strong>.</p>
                </div>

                <!-- Sign Out Section -->
                <div class="w-full mt-10">
                    <p class="text-[#1b283f] text-xl font-normal font-['Poppins']">Are you sure you want to sign out?</p>

                    <!-- Sign Out Button -->
                    <form method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="w-full h-14 pl-7 pr-2.5 py-2 bg-[#d9534f] rounded-full flex justify-center items-center mt-5 hover:bg-[#c9302c] transition duration-300 ease-in-out">
                            <span class="text-white text-[24px] font-normal font-['Poppins'] capitalize">Sign Out</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Right section -->
        <div class="hidden lg:flex w-1/2 bg-[#05a99d] justify-center items-center">
            <img src="/static/login/logo.png" alt="Logo" class="h-auto max-h-[388.63px]">
        </div>
    </div>
</body>

</html>
