<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <title>Password Reset</title>
</head>

<body class="h-full w-full m-0 p-0">
    <div class="flex h-screen w-screen overflow-hidden">
        <!-- Left section (Password reset form) -->
        <div class="flex flex-col justify-center items-center flex-grow p-10 relative">
            <div class="w-full max-w-md flex flex-col items-center gap-10">
                <h1 class="text-[#1b283f] text-6xl font-semibold font-['Poppins']">Reset Password</h1>

                <form method="POST" action="{% url 'account_login' %}" class="w-full flex flex-col gap-8 items-start">
                    {% csrf_token %}
                    <p class="text-left text-[#1b283f] text-xl font-normal font-['Poppins']">
                        Enter your email address below!
                    </p>

                    <!-- Email Input -->
                    <div class="w-full h-14 pl-7 pr-2.5 py-2 rounded-full border-2 border-[#1b283f] flex items-center">
                        {{ form.email }}
                    </div>

                    <!-- Reset Password Button -->
                    <button type="submit" class="w-full h-14 bg-[#05a99d] rounded-full flex justify-center items-center transition-colors duration-300 hover:bg-[#aec2c0] hover:text-[#1b283f]">
                        <span class="text-white text-[24px] font-normal font-['Poppins'] capitalize">Reset My Password</span>
                    </button>
                </form>
            </div>
        </div>

        <!-- Right section (Image or content) -->
        <div class="hidden lg:flex w-1/2 bg-[#05a99d] justify-center items-center">
            <img src="/static/login/logo.png" alt="Logo" class="h-auto max-h-[388.63px]">
        </div>
    </div>
</body>

</html>
