# reqquirements packages
django >= 3.0
django-tailwind >= 2.2.19
django-allauth >= 64.0.0
requests >= 2.32.3
pyjwt == 2.10.1
gunicorn >= 23.0.0
dj-database-url >= 2.3.0
uvicorn
whitenoise[brotli]
cryptography
# decouple
python-decouple
python-dotenv
psycopg
